* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

h1, h3, h4 {
  margin: 0;
  font-family: "M PLUS Rounded 1c";
}

p {
  font-family: "M PLUS Rounded 1c";
}

h2 {
  font-family: "M PLUS Rounded 1c";
}

a {
  display: inline-block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media (max-width: 998px) {
  .box-1 ul {
    flex-wrap: wrap;
  }
  .boss-widget {
    flex-wrap: wrap;
  }
  .card {
    flex-wrap: wrap;
  }
  .card img {
    margin-bottom: 3%;
  }
  .dark {
    margin-bottom: 15%;
  }
  .post ul {
    flex-wrap: wrap;
  }
  .post ul li {
    margin-top: 13%;
  }
  .navbarbek ul {
    flex-wrap: wrap;
  }
  .foot-p {
    margin-left: 10%;
  }
}
@media (max-width: 768px) {
  .box-1 ul {
    flex-wrap: wrap;
  }
  .spayk {
    flex-wrap: wrap;
  }
  .boo h2 {
    text-align: center;
  }
  .boo p {
    text-align: center;
  }
  .navigation ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 10px;
    background-color: #fff;
    height: 100vh;
    top: 0;
    width: 200px;
    z-index: 1;
    top: -40px;
    transform: translateX(-140%);
    transition: 0.5s ease;
  }
  .navigation {
    position: relative;
  }
}
.navigation ul li {
  margin-top: 12px;
}

.hamburger {
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .hamburger::after, .hamburger::before {
    content: "";
    display: block;
    height: 2px;
    width: 20px;
    background-color: black;
    margin: 5px 0;
    margin-left: 80%;
  }
}

input[type=checkbox]:checked + .navigation ul {
  transform: translateX(-17%);
}

.boss {
  padding: 11px 0;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 5;
  left: 0;
  top: 0;
}

.palla span {
  font-weight: 600;
  font-size: 20px;
}

.navigation ul li {
  list-style: none;
}

.navigation ul li a {
  margin: 0;
  text-decoration: none;
  color: #1F2937;
}

.navigation ul {
  display: flex;
  margin: 0;
}

.navigation ul li:not(:last-child) {
  margin-right: 20px;
}

.header-inner .navigation {
  display: flex;
  justify-content: center;
}

.navigation ul li a {
  font-family: "Fraunces";
}

.lip a {
  width: 69px;
}

.header-inner h1 {
  height: 6px;
  font-size: 16px;
  margin-top: 19px;
}

.header-inner span {
  margin-top: 20px;
  margin-left: 12px;
  height: 0px;
}

.palla {
  display: flex;
}

.ulation {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.ulation li {
  margin-left: 10px;
  padding: 0;
}

.dop {
  display: flex;
  margin-left: 69%;
}

.section-head-1 {
  margin-bottom: 15%;
}

.section-body h2 {
  color: #5FD788;
  max-width: 90%;
  margin-left: 3px;
  font-size: 79px;
  line-height: 97%;
  margin-bottom: 38px;
}

.section-body p {
  width: 374px;
  height: 62px;
  color: #9CA3AF;
  margin: 0;
  font-size: 14px;
  line-height: 140%;
}

.section-inner {
  display: flex;
  margin-top: 18%;
  margin-left: 15px;
}

.pik {
  width: 60%;
  height: 60%;
  margin-left: 10%;
  margin-top: -4%;
  background-repeat: no-repeat;
  background-image: url(../../img/Ellipse\ 1.png);
  padding-bottom: 12%;
}

.box-1 {
  margin-top: 20%;
}

.box-1 ul li svg {
  width: 111px;
  height: 116px;
}

.box-1 ul li {
  list-style: none;
  padding: 4% 6%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 0px 20px;
  cursor: pointer;
  transition: 0.5s ease;
}

.box-1 ul li:hover {
  background-color: #5FD788;
}
.box-1 ul li:hover a {
  color: white;
}

.box-1 ul {
  display: flex;
  justify-content: space-evenly;
}

.box-1 ul li a {
  text-decoration: none;
  color: #5FD788;
  margin-left: 10px;
  margin-top: 8px;
}

.spayk-section-two {
  margin-bottom: 15%;
}

.pik-2 {
  padding-bottom: 12%;
  margin-right: 57px;
  margin-left: -29px;
  margin-top: 59px;
}

.big-spayk {
  background-image: url(./../../img/Blob-2.png);
  background-repeat: no-repeat;
  width: 100%;
}

.boo h2 {
  color: #5FD788;
  font-size: 46px;
  margin-right: -40px;
  max-width: 125%;
  margin-top: 203px;
}

.boo p {
  max-width: 92%;
  line-height: 28px;
  margin: 0 19px;
  margin-top: 31px;
}

.boo a {
  text-decoration: none;
  color: white;
  background-color: #5FD788;
  border: 1px solid #5FD788;
  border-radius: 8px;
  padding: 8px 9px;
  margin: 17px 198px;
  word-spacing: 1px;
  width: 51%;
  text-align: center;
  margin-top: 10%;
}

.spayk {
  display: flex;
}

.widget-head {
  background-image: url(../../img/Flower.png);
  background-repeat: no-repeat;
  padding-bottom: 20%;
  margin-bottom: 1px;
}

.widget-header {
  background-image: url(../../img/Flower-2.png);
  background-repeat: no-repeat;
  padding-bottom: 20%;
  margin-bottom: 1px;
}

.boss-widget {
  display: flex;
}

.big-widget {
  margin-left: -187px;
  margin-right: 10px;
}

.big-widget h2 {
  color: #5FD788;
  font-size: 50px;
  margin: 0;
  margin-left: 178px;
  letter-spacing: 1px;
  line-height: 130px;
  margin-top: 10%;
  padding-top: 12%;
  margin-right: 196px;
}

.dark {
  text-decoration: none;
  color: white;
  background-color: #5FD788;
  border: 1px solid #5FD788;
  border-radius: 8px;
  padding: 8px 9px;
  margin-left: 28%;
  word-spacing: 1px;
  letter-spacing: 1px;
  width: 270px;
  text-align: center;
}

.ul-button {
  margin: 0;
  display: flex;
  margin-top: 77px;
  margin-left: 338px;
}

.ul-button button {
  border-radius: 50%;
  padding: 4px;
  border: 1px solid grey;
}

.mil {
  background-color: grey;
}

.pok {
  background-color: #5FD788;
}

.ul-button li {
  list-style: none;
  width: 21px;
}

.card-1 {
  max-width: 400px;
}

.card-2 {
  max-width: 400px;
}

.tip-mega {
  border-radius: 5px;
  position: relative;
  margin-bottom: 15%;
  margin-left: 2%;
  background-color: #5FD788;
  padding: 4.1% 2%;
  max-width: 100%;
  background-image: url(../../img/Texture_2_.png);
}

.desert {
  max-width: 45%;
  margin-left: 20px;
}
.desert img {
  width: 100%;
  border-radius: 5px;
}

.tip h2 {
  margin: 0;
  font-size: 45px;
  width: 550px;
  line-height: 120%;
  color: white;
}

.tip-boss {
  display: flex;
}

.modi {
  margin-left: 3px;
  margin-top: 55px;
  background-color: white;
  color: black;
}

.bigger-post {
  margin-bottom: 15%;
}

.post ul {
  display: flex;
}

.post ul li {
  list-style: none;
  margin-right: 5%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  border-radius: 5%;
  height: 440px;
}

.post ul li img {
  border-radius: 5%;
}

.post h2 {
  color: #5FD788;
  font-size: 48px;
  margin: 0;
  text-align: center;
  line-height: 53.95px;
  margin-bottom: 3.5%;
  margin-left: 121px;
  letter-spacing: 1px;
}

.post h3 {
  color: #5FD788;
  font-size: 23px;
  line-height: 144%;
  max-width: 370px;
  margin: 0;
  padding: 20px 20px 29px 20px;
}

.post p {
  padding: 5px 21px;
  max-width: 373px;
  margin: 0;
  line-height: 28px;
  font-size: 16px;
}

.boss-footer {
  background: #F3F4F6;
  border: 0.5px solid #F3F4F6;
  max-width: 100% px;
  margin-left: 50px;
  height: 400px;
  margin-bottom: 50px;
}

.seel {
  margin-left: 46px;
  margin-top: 37px;
}

.navbarbek li {
  list-style: none;
  flex-wrap: wrap;
  max-width: 150px;
  text-align: center;
  margin-left: 12%;
}

.navbarbek li a {
  color: #9CA3AF;
  width: 256px;
  text-decoration: none;
  padding: 4px;
  margin-left: -45px;
}

.navbarbek li h3 {
  color: #5FD788;
  margin-top: 30px;
  width: 160px;
  line-height: 135%;
  margin-bottom: 12px;
}

.navbarbek ul {
  display: flex;
  margin-left: 16%;
  margin-top: -16px;
}

.foot-p {
  text-align: center;
  margin-top: 8%;
  max-width: 200px;
  margin-left: 50%;
}/*# sourceMappingURL=main.css.map */