
.tip-mega {
    position: relative;
    margin-bottom: 20%;
    margin-left: 2%;
    background-color: #5FD788;
    padding: 4.1% 2%;
    max-width: 86%;
    background-image: url(../../img/Texture_2_.png);
}

.desert {
    position: absolute;
    max-width: 42.1%;
    margin-left: 687px;
    margin-top: -370px;
}

.tip h2 {
    margin: 0;
    font-size: 45px;
    width: 550px;
    line-height: 120%;
    color: white;
}

.modi {
    margin-left: 3px;
    margin-top: 55px;
    background-color: white;
    color: black;
}